In [1]:
from robobrowser import RoboBrowser
import pandas as pd
from io import StringIO

In [2]:
ROTOGURU_STUB = "http://rotoguru1.com/cgi-bin/fyday.pl"

In [3]:
def scrape_salaries(br, year, week):
    br.open(ROTOGURU_STUB + "?week={}&year={}&game=dk&scsv=1".format(week, year))
    table = br.find('pre')
    df = pd.read_csv(StringIO(table.contents[0]), sep=';')
    return df

In [18]:
br = RoboBrowser(history=True)
full_df = pd.DataFrame()
for year in [str(y) for y in range(2016, 2018)]:
    for week in [str(x) for x in range(1, 18)]:
        df = scrape_salaries(br, year, week)
        full_df = full_df.append(df, ignore_index=True)
full_df.to_csv('historical_salaries.csv', index=False)

/Users/Alex/anaconda/envs/venv/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /Users/Alex/anaconda/envs/venv/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [8]:
full_df.shape

(13608, 10)

In [9]:
full_df.isnull().sum()

Week          0
Year          0
GID           0
Name          0
Pos           0
Team          0
h/a           0
Oppt          0
DK points     0
DK salary    24
dtype: int64

In [16]:
full_df[full_df.isnull().sum(axis=1)>0]

     Week  Year   GID            Name Pos Team h/a Oppt  DK points  DK salary
277     2  2016  5295     Grant, Ryan  WR  was   h  dal        1.5        NaN
249     7  2016  5295     Grant, Ryan  WR  was   a  det        1.5        NaN
202     8  2016  5295     Grant, Ryan  WR  was   a  cin        2.7        NaN
233    11  2016  5295     Grant, Ryan  WR  was   h  gnb        1.4        NaN
200    13  2016  5458     Jones, T.J.  WR  det   a  nor        7.9        NaN
223    13  2016  5295     Grant, Ryan  WR  was   a  ari        4.0        NaN
217    16  2016  5295     Grant, Ryan  WR  was   a  chi        5.5        NaN
253    16  2016  5458     Jones, T.J.  WR  det   a  dal        1.9        NaN
153    17  2016  5530  Burks, Brandon  RB  nyj   h  buf       -0.4        NaN
242    17  2016  5458     Jones, T.J.  WR  det   h  gnb        4.5        NaN
254    17  2016  5531    Byrd, Damier  WR  car   a  tam        2.6        NaN
211     1  2017  5458     Jones, T.J.  WR  det   h  ari        5.2        NaN
202     3  2017  5458     Jones, T.J.  WR  det   h  atl        9.3        NaN
207     4  2017  5458     Jones, T.J.  WR  det   a  min        8.3        NaN
199     5  2017  5458     Jones, T.J.  WR  det   h  car        3.2        NaN
187     6  2017  5458     Jones, T.J.  WR  det   a  nor        6.3        NaN
146     8  2017  5458     Jones, T.J.  WR  det   h  pit       12.8        NaN
187     9  2017  5458     Jones, T.J.  WR  det   a  gnb        4.9        NaN
238    10  2017  5458     Jones, T.J.  WR  det   h  cle        1.2        NaN
174    11  2017  5458     Jones, T.J.  WR  det   a  chi        9.5        NaN
259    12  2017  5602    Natson, JoJo  WR  nyj   h  car        0.9        NaN
217    14  2017  5458     Jones, T.J.  WR  det   a  tam        5.6        NaN
180    15  2017  5458     Jones, T.J.  WR  det   h  chi       11.6        NaN
211    15  2017  5602    Natson, JoJo  WR  nyj   a  nor        4.4        NaN